<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações do Aluno</div>
			<div class="panel-body no-bottom">
				<input type="hidden" id="id_calendario" name="id_calendario" value="<%=(item ? item.id_calendario : 0) %>" />
				<div class="form-group">
					<label for="url_calendario">URL</label>
					<input id="url_calendario" name="url_calendario" maxlength="200" class="form-control" type="url" spellcheck="false" value="<%=(item ? item.url_calendario : '') %>" />
				</div>
				<div class="form-group">
					<label for="id_turma">Turma</label>
						<select size="1" id="id_turma" name="id_turma" class="form-control"  >
							<option value="">Selecione...</option>
							<% for (let i = 0; i < turma.length; i++) { %>
								<option value="<%- turma[i].id_turma %>" <%-((item && (item.id_turma == turma[i].id_turma)) ? 'selected="selected"' : '') %>><%= turma[i].desc_turma %></option>
							<% } %>
						</select>
				</div>
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Adicionar calendário') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	window.prepareCbSearchAllowLower = true;
	prepareCbSearch(document.getElementById("id_turma"));

	$("#form").validate({
		rules: {
			url_calendario: {
				required: true
			},
			id_turma: {
				required: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/calendario/alterar", form, function (response) {
				if (response.success)
					Notification.success("Calendário alterado com sucesso! " + emoji.happy);
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/calendario/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Notification.success("Calendário cadastrado com sucesso! " + emoji.happy);
				} else {
					
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
