<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações do Evento</div>
			<div class="panel-body no-bottom">
				<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />
				<div class="form-group">
					<div style = "
						margin-bottom: 2.5vh;
					" >
						<label for="nome">Nome</label>
						<input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
					</div>

					<div style = "
						display: flex;
						justify-content: space-between;
						margin-bottom: 2.5vh;
					" >
						<div>
							<label for="inicio">Início</label>
							<input type="datetime-local" id="inicio" name="inicio" min="08:00" max="22:00" maxlength="100" class="form-control" spellcheck="false" value="<%=(item ? item.nome : '') %>" required>
						</div>

						<div>
							<label for="termino">Término</label>
							<input type="datetime-local" id="termino" name="termino" min="08:00" max="22:00" maxlength="100" class="form-control" spellcheck="false" value="<%=(item ? item.nome : '') %>" required>
						</div>
					</div>

					<div style = "
						display: flex;
						justify-content: space-between;
						margin-bottom: 2.5vh;
					" >
						<div>
							<label for="sala">Sala</label>
							<input id="sala" name="sala" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" style = "
								width: 11.6vw;
							" />
						</div>

						<div>
							<label for="turma">Turma</label>
							<input id="turma" name="turma" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" style = "
								width: 11.6vw;
							" />
						</div>
					</div>

					<div style = "
						margin-bottom: 2.5vh;
					" >
						<label for="professor">Professor</label>
						<input id="professor" name="professor" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar Evento') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			nome: {
				required: true,
				minlength: 3,
				maxlength: 100
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/evento/alterar", form, function (response) {
				if (response.success)
					Notification.success("Evento alterado com sucesso! " + emoji.happy);
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/evento/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Notification.success("Evento criado com sucesso! " + emoji.happy);
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>