<!-- <body class ="A5 "> -->

    <section class= "sheet padding-10mm">
        <% for (let i = 0; i < lista.length; i++) { %>
            <p><%= lista[i].nome_aula%> - <%= lista[i].desc_aula%> <br> <%= lista[i].inicio_aula%> - <%= lista[i].termino_aula%>
                <br> Professor: <%= lista[i].nome_prof%> - Sala: <%= lista[i].desc_sala%> - Turma: <%= lista[i].desc_turma%> 
            </p> 
            <hr> 
        <% } %>
    </section>
   

<!-- </body> -->