<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações do Aluno</div>
			<div class="panel-body no-bottom">
				<input type="hidden" id="id_aluno" name="id_aluno" value="<%=(item ? item.id_aluno : 0) %>" />
				<div class="form-group">
					<label for="nome_aluno">Nome</label>
					<input id="nome_aluno" name="nome_aluno" maxlength="45" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome_aluno : '') %>" />
				</div>
				<div class="form-group">
					<label for="RA_aluno">RA</label>
					<input id="RA_aluno" name="RA_aluno" class="form-control" type="number" value="<%=(item ? item.RA_aluno : '') %>" />
				</div>
				<div class="form-group">
					<label for="email_aluno">E-mail</label>
					<input id="email_aluno" name="email_aluno" maxlength="100" class="form-control" type="email" spellcheck="false" value="<%=(item ? item.email_aluno : '') %>" />
				</div>
				<div class="form-group">
					<label for="turma">Turma</label>
					<select size="1" id="id_turma" name="id_turma" class="form-control"  >
						<option value="">Selecione...</option>
						<% for (let i = 0; i < turma.length; i++) { %>
							<option value="<%- turma[i].id_turma %>" <%-((item && (item.id_turma == turma[i].id_turma)) ? 'selected="selected"' : '') %>><%= turma[i].desc_turma %></option>
						<% } %>
					</select>
				</div>
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Adicionar alunos') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			nome_aluno: {
				required: true
			},
			RA_aluno: {
				required: true
			},
			email_aluno: {
				required: true
			},
			id_turma: {
				required: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/aluno/alterar", form, function (response) {
				if (response.success)
					Notification.success("Aluno alterado com sucesso! " + emoji.happy);
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/aluno/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Notification.success("Aluno cadastrado com sucesso! " + emoji.happy);
				} else {
					
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
