<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<h2 class="no-margin-top col-xs-space-bottom"><i class="fa fa-share-alt"></i>Link da Agenda do Dia Atual</h2>
				<div class="col-xs-space-bottom">
					<a target="_blank" id="aLink" href="#" class="btn btn-outline btn-primary" style="word-break: break-all;"></a>
				</div>
				<button type="button" id="btnLink" class="btn btn-primary btn-copyjs"><i class="fa fa-copy"></i>Copiar</button>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-5">
			<div class="form-group">
				<label for="turma">Filtrar por Turma</label>
				<select size="1" id="turma" class="form-control" onchange="atualizar()">
					<option value="0">Todas</option>
					<% for (let i = 0; i < turmas.length; i++) { %>
						<option value="<%- turmas[i].id_turma %>"><%= turmas[i].desc_turma %></option>
					<% } %>
				</select>
			</div>
		</div>
	</div>
</div>
	
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<h2 class="no-margin-top col-xs-space-bottom"><i class="fa fa-calendar"></i>Resumo de Hoje</h2>

				<div id="calendario"></div>
			</div>
		</div>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	"use strict";
	prepareCbSearch(document.getElementById("turma"));
	var turmaAtual = 0;

	var url = location.href, i = url.lastIndexOf("/"), aLink = document.getElementById("aLink");
	url += ((i !== (url.length - 1)) ? "/hoje" : "hoje");
	document.getElementById("btnLink").setAttribute("data-clipboard-text", url);
	aLink.setAttribute("href", url);
	aLink.textContent = url.substr(url.indexOf("://") + 3);
	prepareCopyHandler();

	var eventos = <%- JSON.stringify(lista) %>;

	converterEventos(eventos);

	var opcoesCalendario = {
		headerToolbar: {
			left: "",
			center: "title",
			right: ""
		},
		initialDate: "<%= hoje %>",
		initialView: "dayGridMonth",
		locale: "pt-br",
		buttonIcons: false,
		weekNumbers: false,
		navLinks: false,
		editable: false,
		dayMaxEvents: true,
		events: eventos
	};

	var calendario = new FullCalendar.Calendar(document.getElementById("calendario"), opcoesCalendario);

	calendario.render();

	function atualizar() {
		var turma = parseInt($("#turma").val());
		if ((turmaAtual === turma) || JsonWebApi.active)
			return;
		Notification.wait();

		JsonWebApi.get("<%- root %>/api/evento/listar", function (response) {
			if (response.success) {
				Notification.hide();
				turmaAtual = turma;
				eventos = <%- JSON.stringify(lista) %>;
				console.log(eventos);
			
				calendario = new FullCalendar.Calendar(document.getElementById("calendario"), opcoesCalendario);

				calendario.render();
			} else {
				Notification.error(response.value, true);
			}
		}, "id_turma", turma);


		

	}

</script>
