<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Informações da Turma</div>
			<div class="panel-body no-bottom">
				<input type="hidden" id="id_turma" name="id_turma" value="<%=(item ? item.id_turma : 0) %>" />
				<div class="form-group">
					<div style = "
						margin-bottom: 2.5vh;
					" >
						<label for="nome">Nome da turma</label>
						<input id="desc_turma" name="desc_turma" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.desc_turma : '') %>" />
                    </div>
				</div>
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Adicionar turma') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			desc_turma: {
				required: true,
				minlength: 3,
				maxlength: 100
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/turma/alterar", form, function (response) {
				if (response.success)
					Notification.success("Turma alterada com sucesso! " + emoji.happy);
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/turma/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Notification.success("Turma criada com sucesso! " + emoji.happy);
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>